.gradient-custom {

    /* fallback for old browsers */
    background: #1000f3;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 81, 255))

    }

body {
    margin-top: 0px;
    margin-left: 480px;
}